section.section-home.d-flex
  .container.d-flex
    .row.d-flex.w-100.flex-column-reverse.flex-sm-row.align-items-center
      .col-12.col-sm-6
        h1.display-5.fw-bold
          | Your weekly
          br
          | personal feed digest.
        p.text-muted With IndieBrew, get personal feeds from resources all around the web, including Reddit, HackerNews, IndieHackers, and much more.
        a.btn.btn-primary
          span.fw-bold Get Started 
          | - it's free
        img.d-block.my-3(src="./assets/User Avatars.svg")
        p.text-muted
          | Join 
          span.text-primary.fw-bold 32,642 
          | IndieBrewers in curating their personal digest.
      .col-12.col-sm-6
        img.img-fluid.my-3.my-sm-0(src="./assets/Feed Mockup.png")